.header-nav {
    nav {
        ul.menu {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;

            > li.menu-item {
                padding: 23px 20px 24px;

                > a {
                    display: inline-block;
                    font-family: $font_heading;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 30px;
                    color: $text_dark_color;
                    position: relative;

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $secondary_color;
                        position: absolute;
                        bottom: 2px;
                        left: 0;
                        opacity: 0;
                        transition: opacity 0.3s;
                    }

                    &:hover {
                        text-decoration: none;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .header-nav {
        .nav-container {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(100%);
            width: 100vw;
            height: auto;
            background-color: $surface;
            padding: 20px;
            z-index: 1000;
            box-shadow: 0 2px 4px #60617029;
        }

        .open-nav-btn {
            width: 63px;
            height: 77px;
            padding: 27px 20px;
            position: relative;

            .burger-menu_lines,
            .burger-menu_lines::before,
            .burger-menu_lines::after {
                position: absolute;
                width: 18px;
                height: 1.5px;
                background-color: $text_dark_color;
                transition: all 0.4s;
                pointer-events: none;
            }

            .burger-menu_lines {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                transition: background-color 0.2s;

                &:before {
                    content: '';
                    top: -7px;
                }

                &:after {
                    content: '';
                    top: 7px;
                }
            }


            &.active {
                background-color: $surface;

                .burger-menu_lines {
                    background-color: transparent;

                    &:before {
                        transform: rotate(45deg);
                        top: 0;
                    }

                    &:after {
                        transform: rotate(-45deg);
                        top: 0;
                    }
                }
            }
        }

        nav {
            height: 100%;

            ul.menu {
                height: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                text-align: left;

                > li.menu-item {
                    padding: 5px 20px;

                    > a {
                        font-weight: normal;
                    }
                }
            }

            .main-navigation {
                position: relative;
                height: 100%;
            }
        }
    }
}