$text-color: #161B3D;
$text_light_color: #7B7485;
$text_dark_color: #000000;
$primary_color: #2820FC;
$secondary_color: #00E6CA;
$third_color: #F551FF;
$grey_color: #BDBDBD;
$surface: #F7F7F7;

$font_general: 'Mulish', sans-serif;
$font_heading: 'Spartan', sans-serif;